body {
    margin: 0;
    background-color: #1B244A;

}

.container {
    display: flex;
    justify-content: space-around;
}

.teams {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
    
}

.score-container {
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    border-radius: 5px;
    background-color: black;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    
}

.buttons-div {
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 26px;
    background-color: transparent;
    
}

button {
    background: none;
    border-color: #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
}

button:hover {
    animation-name: button-hover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes button-hover {
    100% {
        border-color: white;
        color: white;
        transform: scale(1.1)
    }
    
}